/* Global Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

/* Typographies */

h1,
h2 {
  font-family: "Arial Black", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

p,
input,
ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.hide {
  display: none;
  visibility: hidden;
  position:fixed;

}

.show {
  display: block;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  background-color: #3a855e;
  color: #fff;
}

.logo a{
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  text-shadow: 5px 5px 5px #ddd;
}


nav {
  display: flex;
  gap: 1.2em;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0.2em;
  transition: all 400ms ease-in;
}

nav a:hover {
  border-bottom: 2px solid #fff;
  transform: scale(1.1);
}

.bar {
  border:2px solid #fff;
  border-top: 0px;
  border-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Date Style */

.date-container {
  text-align: right;
}

/* Book Catalogue Styles */

.book-list-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
}

.book-list li:nth-child(odd) {
  background-color: #ddd;
}

input[type="submit"],
.delete-btn {
  float: right;
  padding: 0.5em 2em;
  box-shadow: 5px 5px 5px #000;
  background-color: #3a855e;
  color: #fff;
  border: none;
  border-radius: 0.4em;
}

/* Add Form Styles */

.new-book {
  max-width: 400px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book {
  width: 90%;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 0.5em;
}

#add-book .input-field {
  margin: 1rem 0;
}

hr {
  width: 50px;
  border: 2px solid #3a855e;
  margin: 0.8em auto;
}

/* Contact Styles */

.contact-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.contact-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* Footer Style */

footer {
  background-color: #3a855e;
  color: #fff;
  padding: 1em 3em;
  text-align: center;
  position: fixed;
  bottom: 0;
  right:0;
  left: 0;
  width: 100%;
  margin-top: 4rem;
}
