/* Global Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

/* Typographies */

h1,
h2 {
  font-family: "Arial Black", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

p,
input {
  font-family: Georgia, "Times New Roman" ;
  font-size: 0.8em;
}

/* Book Catalogue Styles */

.book-list-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  list-style-type: none;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
}

ul li:nth-child(odd) {
  background-color: #dddddd;
}

input[type="submit"],
.delete-btn {
  float: right;
  padding: 0.5em 2em;
  box-shadow: 5px 5px 5px #000;
}

/* Add Form Styles */

.new-book {
  max-width: 400px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book {
  width: 90%;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 0.5em;
}

#add-book .input-field {
  margin: 1rem 0;
}

.new-book hr {
  width: 50px;
  border: 2px solid #000;
  margin: 0.8em auto;
}